<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sk.smoradap.kamnavyletsk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".KamNaVyletApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"
            tools:replace="android:value" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="dc781fa052eb06d9a7efd008f6784075f03b97a5" />

        <activity
            android:name=".SearchActivity_"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".main.MainActivity"
            android:label="${mainActivityName}"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".details.DetailsActivity2_"
            android:exported="true"
            android:label="${detailsActivityName}">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>